.navBar {
  background-color: #54a8f3;
  padding: 0.5em;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.mapSize {
  height: 5px;
  width: 5px;
}

.red {
  color:red;
}